*{
	box-sizing: border-box;
}



/*navbar----------------------------------------------*/
.brand-logo {
	z-index:100;
  margin-left: 200px;
  
}

//css del slider--------------------------------------->

.slider {
  .indicators {
    .indicator-item {
      position:absolute;
      float: left;
      background-color: #666666;
      border: 3px solid #ffffff;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      &.active {
        background-color: #ffffff;
      }
    }
    bottom: 60px;
    
    /* text-align: left; */
  }
  width: 1228px;
  height: 500px;
  margin: 0 auto;
}

/*contenedor blanco------------------------------------------------*/
.caja_blanca{
	position:absolute;
	margin-top: -518px;
	margin-left: 202px;
	z-index: 999;
	width: 883px;
	height: 519px;
	background-color: $celesteClaro1;
	border-top: 355px solid $celeste3;
	border-left: 881px solid transparent;
	border-style: 2px dotted #fff;

}