*{
  box-sizing: border-box;
}
/*navbar----------------------------------------------*/
.brand-logo {
  z-index:100;
  margin-left: 200px;
}

//css del slider--------------------------------------->
.slider {
  .indicators {
    .indicator-item {
      position:absolute;
      float: left;
      background-color: #666666;
      border: 3px solid #ffffff;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      &.active {
        background-color: #ffffff;
      }
    }
    bottom: 60px;
    
    /* text-align: left; */
  }
  width: 1228px;
  height: 500px;
  margin: 0 auto;
}

/*contenedor blanco------------------------------------------------*/
.caja_blanca{
  position:absolute;
  opacity:0.9;
  margin-top: -578px;
  margin-left: 100px;
  z-index: 999;
  width: 1157px;
  height: 578px;
  background-color:#F2F2F2;
  border-top: 330px solid #fff;
  border-left: 1140px solid transparent;
  }






