*{
	box-sizing: border-box;
}



/*navbar----------------------------------------------*/
.brand-logo {
	z-index:100;
  margin-left: 200px;


  
}

//css del slider--------------------------------------->

.slider {
  .indicators {
    .indicator-item {
      position:absolute;
      float: left;
      background-color: #666666;
      border: 3px solid #ffffff;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      &.active {
        background-color: #ffffff;
      }
    }
    bottom: 60px;
    
    /* text-align: left; */
  }
  width: 1228px;
  height: 500px;
  margin: 0 auto;
}

/*contenedor blanco------------------------------------------------*/
.caja_blanca{
	position:absolute;
  opacity:0.9;
	margin-top: -518px;
	margin-left: 103px;
	z-index: 999;
	width: 1157px;
	height: 518px;
	background-color: $celesteClaro1;
	border-top: 416px solid $celeste;
	border-left: 1155px solid transparent;
  box-shadow: 5px 5px 10px #999;
}

.about__img{
  
  height: 100px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
  background: transparent;
  width: 200px;
  margin-left:-1052px;
  margin-top: -210px;
}

.about__text{

  width: 300px;
  font-size: 13px;
  text-align: justify;
  margin-left:-411px;
  margin-top: 40px;
}

h3{
  margin-left:-305px;
  margin-top:-320px;
  
}

p{

 width: 300px;
  font-size: 13px;
  text-align: justify;
  margin-left: -410px;
  margin-top: 50px; 

}
/*Secton WORKS---------------------------------------------------------------------------*/
.Works{
  background-color: $celesteClaro1;
 
}

.card_title{
  text-align: center;
  margin-top: 0px;
  position:relative;
  top:50px;

}

.work_uno{
  width: 460px;
  margin-top: 100px;
  color: $plomo;
  }
.work_dos{
  width: 300px;
  color: $plomo;
  margin-top: 8px;
  
}
.work_tres{
  width: 300px;
  color: $plomo;
  margin-top: 8px;
 }

.work_cuatro{
  width: 460px;
  margin-top: 100px;
  color: $plomo;
}

.work_cinco{
  width: 460px;
  margin-top: 100px;
  color: $plomo;
  margin-top: 15px;
}

